<a href="https://colab.research.google.com/github/evelynmmartinez/Prediction-of-Product-Sales/blob/main/PredictionofSales_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction of Product Sales
- Author: Evelyn Martinez

## Project Overview

## Loading Data

In [351]:
#Imports
import pandas as pd
import numpy as np

In [352]:

fname = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week01/Data/sales_predictions_2023.csv"
df_sales_pred = pd.read_csv(fname)

In [353]:
df_sales_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [354]:
rename_dict = {"Item_Identifier":"Item Identifier",
               "Item_Weight": "Item Weight",
               "Item_Fat_Content": "Item Fat Content",
               "Item_Visibility": "Item Visibility",
               "Item_Type":"Item Type",
               "Item_MRP" :"Item MRP",
               "Outlet_Identifier" : "Outlet Identifier",
               "Outlet_Establishment_Year": "Outlet Establishment Year",
               "Outlet_Size" : "Outlet Size",
               "Outlet_Location_Type" : "Outlet Location Type",
               "Outlet_Type" : "Outlet Type",
               "Item_Outlet_Sales" : "Item_Outlet_Sales"}

rename_dict

{'Item_Identifier': 'Item Identifier',
 'Item_Weight': 'Item Weight',
 'Item_Fat_Content': 'Item Fat Content',
 'Item_Visibility': 'Item Visibility',
 'Item_Type': 'Item Type',
 'Item_MRP': 'Item MRP',
 'Outlet_Identifier': 'Outlet Identifier',
 'Outlet_Establishment_Year': 'Outlet Establishment Year',
 'Outlet_Size': 'Outlet Size',
 'Outlet_Location_Type': 'Outlet Location Type',
 'Outlet_Type': 'Outlet Type',
 'Item_Outlet_Sales': 'Item_Outlet_Sales'}

In [355]:
df_sales_pred = df_sales_pred.rename(rename_dict,axis=1)
df_sales_pred.head()

,Item Identifier,Item Weight,Item Fat Content,Item Visibility,Item Type,Item MRP,Outlet Identifier,Outlet Establishment Year,Outlet Size,Outlet Location Type,Outlet Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## Cleaning Data

In [356]:
#How many rows and columns
df_sales_pred.shape

(8523, 12)

In [357]:
#2) What are the datatypes of each variable?
df_sales_pred.dtypes

Item Identifier               object
Item Weight                  float64
Item Fat Content              object
Item Visibility              float64
Item Type                     object
Item MRP                     float64
Outlet Identifier             object
Outlet Establishment Year      int64
Outlet Size                   object
Outlet Location Type          object
Outlet Type                   object
Item_Outlet_Sales            float64
dtype: object

In [358]:
#3) Are there duplicates? If so, drop any duplicates.

duplicated_rows = df_sales_pred.duplicated()
duplicated_rows

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [359]:
df_sales_pred.duplicated().sum()

0

In [360]:
#4) Identify missing values.
null_sums = df_sales_pred.isna().sum()
null_sums

Item Identifier                 0
Item Weight                  1463
Item Fat Content                0
Item Visibility                 0
Item Type                       0
Item MRP                        0
Outlet Identifier               0
Outlet Establishment Year       0
Outlet Size                  2410
Outlet Location Type            0
Outlet Type                     0
Item_Outlet_Sales               0
dtype: int64

In [361]:
type(null_sums)

pandas.core.series.Series

In [362]:
null_percent = null_sums/len(df_sales_pred) * 100
null_percent

Item Identifier               0.000000
Item Weight                  17.165317
Item Fat Content              0.000000
Item Visibility               0.000000
Item Type                     0.000000
Item MRP                      0.000000
Outlet Identifier             0.000000
Outlet Establishment Year     0.000000
Outlet Size                  28.276428
Outlet Location Type          0.000000
Outlet Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

In [363]:
null_percent[null_percent>0]

Item Weight    17.165317
Outlet Size    28.276428
dtype: float64

In [364]:
null_Item_weight = df_sales_pred['Item Weight'].isna()
null_Item_weight

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item Weight, Length: 8523, dtype: bool

In [365]:
df_sales_pred[null_Item_weight]

,Item Identifier,Item Weight,Item Fat Content,Item Visibility,Item Type,Item MRP,Outlet Identifier,Outlet Establishment Year,Outlet Size,Outlet Location Type,Outlet Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [366]:
df_sales_pred = df_sales_pred.dropna(subset=["Item Weight"])

In [367]:
df_sales_pred["Item Weight"].isna().sum()

0

In [368]:
null_Outlet_Size = df_sales_pred['Outlet Size'].isna()
null_Outlet_Size

0       False
1       False
2       False
3        True
4       False
        ...
8518    False
8519     True
8520    False
8521    False
8522    False
Name: Outlet Size, Length: 7060, dtype: bool

In [369]:
df_sales_pred[null_Outlet_Size]

,Item Identifier,Item Weight,Item Fat Content,Item Visibility,Item Type,Item MRP,Outlet Identifier,Outlet Establishment Year,Outlet Size,Outlet Location Type,Outlet Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
...,...,...,...,...,...,...,...,...,...,...,...,...
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

In [370]:
df_sales_pred = df_sales_pred.dropna(subset=["Outlet Size"])

In [371]:
_# 5) Address the missing values by using a placeholder value.

cat_cols = df_sales_pred.select_dtypes('object').columns
df_sales_pred[cat_cols].isna().sum()

Item Identifier         0
Item Fat Content        0
Item Type               0
Outlet Identifier       0
Outlet Size             0
Outlet Location Type    0
Outlet Type             0
dtype: int64

In [372]:
df_sales_pred['Outlet Size'] = df_sales_pred['Outlet Size'].fillna('MISSING')
df_sales_pred['Outlet Size'].value_counts(dropna=False)

df_sales_pred['Item Weight'] = df_sales_pred['Item Weight'].fillna('MISSING')
df_sales_pred['Item Weight'].value_counts(dropna=False)

df_sales_pred[cat_cols].isna().sum()

<ipython-input-372-bbb86c0c4fc9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales_pred['Outlet Size'] = df_sales_pred['Outlet Size'].fillna('MISSING')
<ipython-input-372-bbb86c0c4fc9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales_pred['Item Weight'] = df_sales_pred['Item Weight'].fillna('MISSING')

Item Identifier         0
Item Fat Content        0
Item Type               0
Outlet Identifier       0
Outlet Size             0
Outlet Location Type    0
Outlet Type             0
dtype: int64

In [373]:
# 6) Confirm that there are no missing values after addressing them.

df_sales_pred.isna().sum()

Item Identifier              0
Item Weight                  0
Item Fat Content             0
Item Visibility              0
Item Type                    0
Item MRP                     0
Outlet Identifier            0
Outlet Establishment Year    0
Outlet Size                  0
Outlet Location Type         0
Outlet Type                  0
Item_Outlet_Sales            0
dtype: int64

In [374]:
#7) Find and fix any inconsistent categories of data (for example: fix cat, Cat, and cats so that they are consistent).
obj_columns = df_sales_pred.select_dtypes("object").columns
obj_columns

Index(['Item Identifier', 'Item Fat Content', 'Item Type', 'Outlet Identifier',
       'Outlet Size', 'Outlet Location Type', 'Outlet Type'],
      dtype='object')

In [375]:
for col in obj_columns:
  print(f"Value Counts for {col}")
  print(df_sales_pred[col].value_counts())

  print('\n')

Value Counts for Item Identifier
FDH26    5
FDL51    5
FDJ09    5
FDB15    5
FDC17    5
        ..
FDE40    1
FDF50    1
NCA42    1
FDK32    1
FDO03    1
Name: Item Identifier, Length: 1535, dtype: int64


Value Counts for Item Fat Content
Low Fat    2774
Regular    1575
LF          177
reg          71
low fat      53
Name: Item Fat Content, dtype: int64


Value Counts for Item Type
Fruits and Vegetables    670
Snack Foods              656
Household                498
Frozen Foods             477
Dairy                    380
Canned                   361
Baking Goods             351
Health and Hygiene       277
Soft Drinks              241
Meat                     221
Breads                   132
Hard Drinks              117
Others                    91
Starchy Foods             87
Breakfast                 58
Seafood                   33
Name: Item Type, dtype: int64


Value Counts for Outlet Identifier
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT018    928
Name: Outlet Identifier, dtype: int64


Value Counts for Outlet Size
Small     1860
Medium    1858
High       932
Name: Outlet Size, dtype: int64


Value Counts for Outlet Location Type
Tier 1    1860
Tier 3    1860
Tier 2     930
Name: Outlet Location Type, dtype: int64


Value Counts for Outlet Type
Supermarket Type1    3722
Supermarket Type2     928
Name: Outlet Type, dtype: int64

In [376]:
_#8) For any numerical columns, obtain the summary statistics of each (min, max, mean).
num_cols = df_sales_pred.select_dtypes('number').columns
num_cols

Index(['Item Weight', 'Item Visibility', 'Item MRP',
       'Outlet Establishment Year', 'Item_Outlet_Sales'],
      dtype='object')

In [377]:
df_sales_pred.mean()

<ipython-input-377-f8da3d1de550>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_sales_pred.mean()

Item Weight                    12.898675
Item Visibility                 0.060700
Item MRP                      141.716328
Outlet Establishment Year    1999.190538
Item_Outlet_Sales            2272.037489
dtype: float64

In [378]:
df_sales_pred.min()

Item Identifier                          DRA12
Item Weight                              4.555
Item Fat Content                            LF
Item Visibility                            0.0
Item Type                         Baking Goods
Item MRP                                 31.49
Outlet Identifier                       OUT013
Outlet Establishment Year                 1987
Outlet Size                               High
Outlet Location Type                    Tier 1
Outlet Type                  Supermarket Type1
Item_Outlet_Sales                      69.2432
dtype: object

In [379]:
df_sales_pred.max()

Item Identifier                          NCZ54
Item Weight                              21.35
Item Fat Content                           reg
Item Visibility                       0.188323
Item Type                        Starchy Foods
Item MRP                              266.8884
Outlet Identifier                       OUT049
Outlet Establishment Year                 2009
Outlet Size                              Small
Outlet Location Type                    Tier 3
Outlet Type                  Supermarket Type2
Item_Outlet_Sales                    10256.649
dtype: object

## Clean Data

## Exploratory Data Analysis

## Feature Inspection